 :root {
    --couleur-principale: #2E294E;
    --couleur-secondaire: #F4F1DE;
    --couleur-troisieme: black;
    --couleur-quatrieme: white;
    --couleur-icones: #C8C641;
    --couleur-hover-text:  #347cb6;    
}
 