.main-produit{
   display: flex;
   flex-basis: 100%;
   flex-wrap: wrap;
   margin-top: 4rem;
   gap: 80px;
 
}

.affiche-image{
    margin-top: 3rem;
    margin-left: 2rem;
    flex-basis: 35%;
    background-color: var(--couleur-secondaire);
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 21px;
    box-shadow: 2px 2px 2px 2px var(--couleur-secondaire);
    width: 50%;
 
}

.affiche-image img{
   width: 50%;
}



.mise-produit{

   flex-basis: 55%;
   background-color: #f3f3f3;;
   font-size: 1.4rem;
   padding: 4rem;
   border-radius: 21px;
   box-shadow: 2px 2px 2px 2px var(--couleur-troisieme);


 
}

.mise-image > div {
   padding: var(--espace-xl) ;
}


.produit-similaire{
   flex-basis: 100%;
   margin-left: 2rem; 
   text-align: center;
   padding: 2rem;
   background-color: var(--couleur-primaire);
   margin-top: 2rem;
   cursor: pointer;

 
} 

.image-produit{
   width: 100%;
   border: 10px solid var(--couleur-troisieme) ;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   
}

.info-enchere{
   font-size: 3rem;
   font-family: var( --police-secondaire);
}

.info-description{
   font-size: 1.6rem;
   
}

.info-description > p > span {
   font-weight: 600;
}

.info-enchere > p {
   padding: var(--espace-xs) ;

}

.info-mise-enchere > p{
   padding: var(--espace-sm) ;

}


.coeur{
   font-size: 50px;
   cursor: pointer;
   transition: all 350MS;
}

.coeur:hover {
 
    color: var(--couleur-icones);

}

.parent-img{
   display: flex;
   justify-content: center;
   align-items: center;
}


@media (max-width:480px) {
   .main-produit{
      flex: 1;
      justify-content: center;
      align-items: center;
      
   }

   
   .affiche-image{
      flex-basis: 80%;
      
   }

   .btn{
      width: 100%;
      height: 30%;
      padding: 3rem;
      order: 3;
      margin-top: 2rem;
   }

   .coeur{
      text-align: center;
      order: 3;
      margin-right: 2rem;
      margin-top: 1rem;
   }

   .info-description{
      font-size: 1.2rem;
      order: 1;
      margin-top: 1rem;
   }

   .produit-similaire{
      margin-bottom: 10rem;
      flex-basis: 100%;
   }

   .image-produit{
      flex-basis: 100%;
   }
  
   
}

